/* ================ HEADER INDEX ================== */

.header-index {
    text-transform: uppercase;
    background-color: $pine;
    color: $offwhite;
    height: 800px;
    .header-content {
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            font-size: 7rem;
        }
        .circle-text {
            width: 117px;
            height: 150px;
            transform: translate(60px, -15px);
        }
        .img-container-1 {
            background-color: $offwhite;
            transform: translateY(65px);
            margin-left: 25px;
        }
        .willow-1 {
            width: 525px;
        }
    }
}

nav {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
        ul {
            display: flex;
            li {
                margin: 0px 10px;
            }
            a {
                font-family: $base-font;
                font-weight: 700;
                color: $offwhite;
                text-decoration: none;
            }
        }
}
