/* ================ HEADER ================== */

.header-index {
    text-transform: uppercase;
    background-color: $pine;
    color: $offwhite;
    height: 800px;
    .header-content {
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
        .circle-text {
            width: 137px;
            height: 170px;
        }
        .img-container-1 {
            background-color: $offwhite;
        }
        .willow-1 {
            width: 400px;
        }
        h1 {
            font-size: 6rem;
        }
    }
}

nav {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellowgreen;
        ul {
            display: flex;
            a {
                font-family: $base-font;
                font-weight: 700;
                color: $offwhite;
                text-decoration: none;
            }
        }
}

