/* ================ WILLOW'S JOURNEY ================== */

.journey {
    height: 500px;
    background-color: $offwhite;
    p {
        width: 90%;
    }
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        .journey-img {
            width: 30%;
            display: flex;
            justify-content: center;
            .home-image-4 {
                width: 310px;
                height: 310px;
                background-color: $green-grey;
                position: relative;
                img {
                    position: absolute;
                    right: 15px;
                    bottom: 15px;
                }
            }
        }
        .journey-txt {
            width: 60%;
        }
    }
}
