/* VARIABLES & IMPORTS */

$green-grey: #709b6b;
$pine: #345231;
$black: #1f1f1f;
$offwhite: #f6f6f6;
$accent: #e4a436;
$base-font: 'Montserrat', sans-serif;
$accent-font: 'Abril Fatface', cursive;

@import "setup";
@import "base-styles";
@import "header-index";
@import "about";
@import "grid";
@import "journey";
@import "image-bg";
@import "gallery";
@import "footer";
@import "header-contact"



