/* VARIABLES & IMPORTS */

$green-grey: #709b6b;
$pine: #345231;
$black: #1f1f1f;
$offwhite: #f6f6f6;
$accent: #e4a436;
$base-font: 'Montserrat', sans-serif;
$accent-font: 'Abril Fatface', cursive;

@import "setup";
@import "base-styles";
@import "header-index";
@import "about-index";
@import "grid-index";
@import "journey-index";
@import "image-bg-index";
@import "gallery-index";
@import "footer-index";
@import "header-subpage";
@import "contact-subpage";
@import "blog-subpage";
@import "index-query";
@import "contact-query";
@import "blog-query";


